
h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 60px;
}
/*a {
    color: black;
    text-decoration: none;

}*/
#grid_1 {
    font-size: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px;
}
#article_1 {
    font-size: 20px;
    border-left: 4px solid gray;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 20px;
    margin-left: 150px;
    margin-top: 40px;
}
.saw {
    color:gray;
    
}@media(max-width:600px){
    #article_1 {
    margin-left: 80px; }
}@media(max-width:400px){
    #article_1 {
    margin-left: 40px; }
}@media(max-width:200px){
    #article_1 {
    margin-left: 20px; }
}
